
 .cover-pic {
    width:300px;
    height: 350px;
 }

.center {
    text-align: center
}

.small_profile_pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

Hello world my name is Suhrob. I want to become a software engineer a top level InShaaAllah.