
 .cover-pic {
    width:300px;
    height: 350px;
 }

.center {
    text-align: center
}

.small_profile_pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
Next I should add tags to base.html and build latest, favorites and popular posts in Home page and last week posts, last month posts. Thats all .